<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <WEBOBJECT NAME=GenericElement1></WEBOBJECT><WEBOBJECT NAME=GenericElement2></WEBOBJECT>
    <link href="http://www.vefsyn.is/soloweblooks/1/css/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="http://www.vefsyn.is/soloweblooks/1/css/screen.css" rel="stylesheet" type="text/css" media="screen" />

    <title><WEBOBJECT NAME=String1></WEBOBJECT></title>
</head>
<body>

<div id="page"><div id="content">
		<WEBOBJECT NAME=ComponentContent1></WEBOBJECT>
	</div>
	<div class="hidden"><hr /></div>
	<div id="leftnavigation">
		<WEBOBJECT NAME=SWNavigation1></WEBOBJECT>
	</div>
	<div class="hidden"><hr /></div>
	<div id="header">
		<div id="headertitle"><WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=String2></WEBOBJECT></WEBOBJECT></div>
		<div id="headerpicture"><img src="http://www.vefsyn.is/soloweblooks/1/images/header.right.png" alt="" /></div>
	</div>
	<div class="hidden"><hr /></div>
	<div id="footer">
		<WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=String3></WEBOBJECT></WEBOBJECT>
	</div>
</div>
</body>

</html>
