<webobject name="WRAPPER">
	<div id="swleftColumn">
		<div class="swMenu">
			<webobject name="CREATE_USER_LINK"><webobject name="CREATE_USER_STRING" /></webobject>
			<webobject name="CREATE_GROUP_LINK"><webobject name="CREATE_GROUP_STRING" /></webobject>
		</div>
		<div id="swsiteTree">
			<h2>Hópar</h2>
			<ul>
			<webobject name="GROUP_REPETITION">
				<li><webobject name="SELECT_OBJECT_LINK"><webobject name="OBJECT_NAME_STRING" /></webobject></li>
			</webobject>
			</ul>
			<h2>Notendur</h2>
			<ul>
			<webobject name="USER_REPETITION">
				<li><webobject name="SELECT_OBJECT_LINK"><webobject name="OBJECT_NAME_STRING" /></webobject></li>
			</webobject>
			</ul>
		</div>
	</div>
	<div id="swrightColumn">
		<webobject name="FORM">
			<webobject name="COMPONENT_CONTENT" />
		</webobject>
    </div>
</webobject>