<webobject name="RADIO_LEFT" />
<webobject name="IMAGE_LEFT" />

<webobject name="RADIO_RIGHT" />
<webobject name="IMAGE_RIGHT" />

<webobject name="SELECT_IMAGE_LINK" />

<webobject name="NAME_FIELD" />
<wo:conditional condition="$currentComponent.isWikiMarkup" negate="true">
	<webobject name="HTML_EDITOR" />
</wo:conditional>
<wo:conditional condition="$currentComponent.isWikiMarkup">
	<webobject name="WIKI_EDITOR" />
</wo:conditional>

<webobject name="ENCODE_BREAKS_CHECK" /> <webobject name="String1" />
<webobject name="WIKI_CHECK" /> Wiki-texti