<h2><webobject name="HEADING_STRING" /></h2>

<webobject name="SELECT_DOCUMENT_LABEL" />:
<webobject name="SELECT_DOCUMENT">
	<webobject name="Conditional1">
		<webobject name="ICON_IMAGE" />
		<webobject name="DOCUMENT_NAME_STRING" />
	</webobject>
	<webobject name="Conditional2">
		<webobject name="String7" />
	</webobject>
</webobject>
<br />

<webobject name="String4" />:<webobject name="PopUpButton1" /><br />
<webobject name="String8" />:<webobject name="TypeLink2" /><br />
<webobject name="String5" />:<webobject name="TypeLink" /><br />
<webobject name="String6" />:<webobject name="TextField1" /><br />