<webobject name = "WRAPPER">
	<p>Exporting  <webobject name = "String2" /> record(s)</p> 
	<p>Fields to export:</p>
	
	<webobject name = "Form1">
		<table cellpadding = "2" border = "1" cellspacing = "0">
			<webobject name = "Conditional1">
				<tr>
					<td><webobject name = "PopUpButton1" /></td>
					<td><webobject name = "SubmitButton1" /></td>
				</tr>
			</webobject>
			<webobject name ="Repetition1">
				<tr>
					<td><webobject name = "String1" /></td>
					<td><webobject name = "SubmitButton2" /></td>
				</tr>
			</webobject>
		</table>
	</webobject>
	<p>File encoding: <webobject name = "PopUpButton2" /></p>
	<webobject name = "Form2"> <webobject name = "SubmitButton3" /> </webobject>
</webobject>