<h1><webobject name="String1" /></h1>

<webobject name="FORM">
  <webobject name="SUBMIT_BUTTON" />
  <br />
  <br />
  <table cellspacing="0" cellpadding="2">
    <tr>
      <th>&nbsp;</th>
      <th>
        <webobject name="String2" />
      </th>
      <th>
        <webobject name="String3" />
      </th>
      <th>
        <webobject name="String4" />
      </th>
      <th>&nbsp;</th>
    </tr>
    <webobject name="Repetition1">
      <tr>
        <td>
          <webobject name="TypeLink" />
        </td>
        <td>
          <webobject name="RemoveDocument3" />
        </td>
        <td>
          <webobject name="RemoveDocument4" />
        </td>
        <td>
          <webobject name="RemoveDocument5" />
        </td>
        <td>
          <webobject name="RemoveDocument7">X</webobject>
        </td>
      </tr>
    </webobject>
    <tr>
      <td align="RIGHT" colspan="5">
        <webobject name="RemoveDocument6" />
      </td>
    </tr>
  </table>
</webobject>