<div id="pageContentEdit">
	<webobject name="NO_COMPONENTS_CONDITIONAL">
		<webobject name="INSERT_ABOVE_LINK_2"><webobject name = "INSERT_COMPONENT_ABOVE_IMAGE" /></webobject>
		<br />
		<br />
		<webobject name="NO_COMPONENTS_ON_PAGE_STRING" />
	</webobject>

	<webobject name="COMPONENT_REPETITION">
		<webobject name="COMPONENT_MENU_ELEMENT">
			<webobject name="INSERT_ABOVE_LINK">Búa til síðubút</webobject>
			<webobject name="EDIT_COMPONENT_BUTTON">Opna bút</webobject>
			<webobject name="DELETE_COMPONENT_LINK">Eyða bút</webobject>
			<webobject name="TRANSFER_LINK">Flytja bút á aðra síðu</webobject>
			<webobject name="CAN_MOVE_UP_COND"><webobject name="MOVE_UP_LINK">Færa bút upp</webobject></webobject>
			<webobject name="COMPONENT_LAST_CONDITIONAL"><webobject name="MOVE_DOWN_LINK">Færa bút niður</webobject></webobject>
		</webobject>
	
		<webobject name="DISPLAY_COMPONENT" />
	
		<webobject name="IS_LAST_COMPONENT_COND">
			<div class="swmenu"><webobject name="INSERT_BELOW_LINK">Búa til síðubút</webobject></div>
		</webobject>
		<hr />
	</webobject>
</div>