<BR><TABLE CELLSPACING=0 ALIGN=CENTER CELLPADDING=2 BORDER=0><TR><TD ALIGN=RIGHT>Form:</TD><TD><WEBOBJECT NAME=PopUpButton1></WEBOBJECT></TD></TR><TR><TD ALIGN=RIGHT>Birting:</TD><TD><WEBOBJECT NAME=PopUpButton2></WEBOBJECT></TD></TR>
<WEBOBJECT NAME=Conditional1><TR><TD ALIGN=RIGHT VALIGN=TOP>Leitarb&aelig;rir reitir:</TD><TD><WEBOBJECT NAME=SWFFieldListPalette2></WEBOBJECT></TD></TR>
</WEBOBJECT><WEBOBJECT NAME=Conditional2><TR><TD ALIGN=RIGHT VALIGN=TOP>Reitir &iacute; ni&eth;urst&ouml;&eth;ulista:</TD><TD><WEBOBJECT NAME=SWFFieldListPalette1></WEBOBJECT></TD></TR>
</WEBOBJECT><WEBOBJECT NAME=Conditional3>
	<TR>
		<TD ALIGN=RIGHT VALIGN=TOP>Skilgreind leit:</TD>
		<TD>
			<TABLE BORDER=0 STYLE="border: 1px solid #666666;" CELLPADDING=2 CELLSPACING=0 CLASS=genericTable>
				<TR>
					<TH>Reitur</TH>
					<TH>Gildi</TH>
					<TH>&nbsp;</TH>
				</TR>
				<TR><TD><WEBOBJECT NAME=PopUpButton4></WEBOBJECT></TD><TD><WEBOBJECT NAME=Conditional10><WEBOBJECT NAME=TextField1></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional11><WEBOBJECT NAME=TextField2></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional12><WEBOBJECT NAME=SWFCheckbox1></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional13><WEBOBJECT NAME=RadioButtonList1></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional14><WEBOBJECT NAME=PopUpButton3></WEBOBJECT></WEBOBJECT></TD><TD><WEBOBJECT NAME=SubmitButton1></WEBOBJECT></TD></TR><WEBOBJECT NAME=Repetition4>
					<TR>
						<TD ALIGN=RIGHT VALIGN=TOP><WEBOBJECT NAME=String1></WEBOBJECT></TD>
						<TD VALIGN=TOP><WEBOBJECT NAME=String2></WEBOBJECT></TD>
						<TD><WEBOBJECT NAME=SubmitButton3></WEBOBJECT></TD>
					</TR>
				</WEBOBJECT>
			</TABLE>
		</TD>
	</TR>
</WEBOBJECT></TABLE><BR>