<div class="swmenu">
	<span class="swmenuTitle"><webobject name="NAME_STRING" /> (<webobject name="String2" />)</span>
</div>
<div id="swobjectEdit">
	<webobject name="FORM">
		<fieldset class="unpublished">
			<legend>Stillingar birtingar</legend>
			<label><webobject name="PUBLISHED_STRING" />: </label><webobject name="PUBLISH_CHECKBOX" /><br />
			<label><webobject name="DATE_STRING" />: </label><webobject name="DATE_1" /><br />
			<label><webobject name="TIME_IN_STRING" />: </label><webobject name="DATE_2" /><br />
			<label><webobject name="TIME_OUT_STRING" />: </label><webobject name="DATE_3" /><br />
		</fieldset>
		<label><webobject name="PICTURE_STRING" />: </label><webobject name="PICTURE_LINK" /><br />
		<label><webobject name="HEADLINE_STRING" />: </label><webobject name="NAME_FIELD" /><br />
		<label>Undirfyrirsögn: </label><webobject name="SUB_HEADING_FIELD" /><br />
		<h3><webobject name="EXCERPT_STRING" />: </h3>
		<webobject name="EXCERPT_FIELD" />
		<h3>Texti</h3>
		<wo:conditional condition="$selectedObject.isWikiMarkup" negate="true">
			<webobject name="HTML_EDITOR" />
		</wo:conditional>
		<wo:conditional condition="$selectedObject.isWikiMarkup">
			<webobject name="WIKI_EDITOR" />
		</wo:conditional>
		<label><webobject name="ENCODEBREAKS_STRING" />: </label><webobject name="ENCODE_BREAKS_CHECKBOX" /><br />
		 <label><a href="http://www.us.is/textile-reference/index.html" onclick="window.open(this.href,'textile_reference','height=400,width=600,scrollbars=1');return false;">Wiki-texti</a></label><webobject name="WIKI_CHECK" /><br />
		<div class="swobjecthistory">
			Búið til: <webobject name="CREATION_DATE_STRING" /> <webobject name="CREATED_BY_HYPERLINK"><webobject name= "CREATED_BY_STRING" /></webobject><br />
			Breytt: <webobject name="MODIFICATION_DATE_STRING" /> <webobject name="MODIFIED_BY_HYPERLINK"><webobject name= "MODIFIED_BY_STRING" /></webobject><br />
		</div>	
		<p align="left"><wo:hyperlink action="$preview" target="_blank">Skoða</wo:hyperlink></p>
		<p align="right"><webobject name="SUBMIT_BUTTON" /></p>
	</webobject>
</div>