<webobject name="HAS_ERROR_CONDITIONAL"><font color="#ff0000"><b><webobject name="ERROR_STRING"></webobject></b></font></webobject>

<webobject name="FIRST_LEVEL_CONDITONAL">
	<h2><webobject name="String5" /> (skref <webobject name="String6" /> af <webobject name="String7" />)</h2>
	<webobject name="FORM">
		<table cellspacing="0" cellpadding="0">
			<webobject name="FIELD_REPETITION">
				<webobject name="HAS_ABOVE_TEXT">
					<tr>
						<td colspan="2"><BR><webobject name="ABOVE_TEXT" /></td>
					</tr>
				</webobject>
				<tr>
					<webobject name="Conditional12">
						<td align="RIGHT" valign="TOP"><webobject name="Conditional1"><font color="#ff0000">*</font> </webobject><b><webobject name="FIELD_NAME_STRING" />:</b><br /><webobject name="EXPLANATORY_TEXT_STRING" /></td>
					</webobject>
					<webobject name="TD_CONTAINER"><webobject name="FIELD_DISPLAY" /></webobject>
				</tr>
			</webobject>
			<tr>
				<th align="right" colspan="2">
					<webobject name="IS_NOT_FIRST_FIELDSET_CONDITIONAL"><webobject name="SubmitButton3" /></webobject>
					<webobject name="Conditional14"><webobject name="SubmitButton2" /></webobject>
					<webobject name="Conditional16"><webobject name="SubmitButton1" /></webobject>
				</th>
			</tr>
		</table>
	</webobject>
</webobject>

<webobject name="SECOND_LEVEL_CONDITIONAL">
	<h2>Please review your data</h2>
	<webobject name="FORM_2">
		<table cellspacing="0" cellpadding="2">
			<webobject name="Repetition1">
				<webobject name="Conditional28">
					<tr>
						<td colspan="2"><br /><webobject name="String9" /></td>
					</tr>
				</webobject>
				<tr>
					<webobject name="Conditional27">
						<td align="right" valign="top">
							<webobject name="Conditional18"><font color="#ff0000">*</font></webobject> <b><webobject name="String8" />:</b><br />
							<webobject name="String12" />
						</td>
					</webobject>
					<webobject name="GenericContainer2"><webobject name="String10" /></webobject>
				</tr>
			</webobject>
			<tr>
				<td></td>
				<td align="right">&nbsp;&nbsp;<webobject name="MAKE_CORRECTIONS_BUTTON" /><webobject name="SUBMIT_FORM_BUTTON" /></td>
			</tr>
		</table>
	</webobject>
</webobject>

<webobject name="THIRD_LEVEL_CONDITIONAL"><br /><br /><center><webobject name="PRINTABLE_FORM"><webobject name="PRINTABLE_SUBMIT_BUTTON"></webobject></webobject></center><p align="center"><div style="border: 2px solid black; background-color: #eeeeee; text-align: center; font-size: large; padding: 20px; margin: 20px;"><webobject name="POST_REGISTRATION_MESSAGE" /></div></p></webobject>