<webobject name="WRAPPER">
	<div id="swleftColumn">
		<webobject name="TREE" />
	</div>
	<webobject name="PAGE_SELECTED_CONDITIONAL">
		<div id="swrightColumn">
			<div id="swtools" class="swmenu">
				<span class="swmenuTitle"><webobject name="PAGE_NAME_STRING" /> (<webobject name="PAGE_ID_STRING" />)</span>
				<webobject name="CREATE_PAGE_LINK"><webobject name="CREATE_PAGE_STRING" /></webobject>
				<webobject name="IS_TOP_LEVEL_CONDITIONAL"><webobject name="CAN_DELETE_PAGE_CONDITIONAL"><webobject name="DELETE_PAGE_LINK"><webobject name="DELETE_PAGE_STRING" /></webobject></webobject></webobject>
				<webobject name="IS_TOP_LEVEL_CONDITIONAL"><webobject name="TRANSFER_PAGE_CONDITIONAL"><webobject name="TRANSFER_LINK"><webobject name="TRANSFER_STRING" /></webobject></webobject></webobject>
				<webobject name="HAS_SUBPAGES_CONDITIONAL"><webobject name="TRANSFER_PAGE_CONDITIONAL"><webobject name="MOVE_LINK">Endurraða undirsíðum</webobject></webobject></webobject>
				<webobject name="PREVIEW_LINK"><webobject name="PREVIEW_STRING" /></webobject><br />
			</div>

			<div id="swobjectEdit">
				<webobject name="FORM">
					<webobject name="TAB_PANEL">
						<webobject name="EDIT_COMPONENT" />
					</webobject>
					<div><webobject name="SUBMIT_BUTTON" /></div>
				</webobject>
			</div>			
		</div>

	</webobject>
</webobject>