<webobject name = "SwitchComponent1">
  <br />
  <webobject name = "Conditional2">
    <webobject name = "String3" />
    <webobject name = "Conditional4">s&iacute;&eth;ur fundust sem innihalda or&eth;i&eth;</webobject>
    <webobject name = "Conditional5">s&iacute;&eth;a fannst sem inniheldur or&eth;i&eth;</webobject>
    &quot;<b><webobject name = "String1" /></b>&quot;<br />
  </webobject>
  <webobject name = "Conditional3">Engar s&iacute;&eth;ur fundust vi&eth; leit a&eth; &quot;<b><webobject name = "String5" /></b>&quot;</webobject>
  <br />
  <webobject name = "Repetition1">
    <b>
      <webobject name = "Hyperlink1"><webobject name = "String2" /></webobject>
    </b>
    <br />
    <webobject name = "Conditional1">
      <webobject name = "String4" />
      <br />
    </webobject>
    <webobject name = "SWBreadcrumbTrail1" />
    <br />
    <br />
  </webobject>
</webobject>