<p><webobject name = "SubmitButton1" /></p>
<webobject name = "Conditional1">
  <br />
  <table border = "1" cellpadding = "2" cellspacing = "0" class = "genericTable" width = "100%">
    <tr>
      <th>Field sets</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <webobject name = "Repetition2">
      <tr>
        <td valign = "TOP" rowspan = "2">Fieldset name: 
          <webobject name = "TextField2" />
          <webobject name = "SWFEditFields1" />
        </td>
        <td>
          <webobject name = "Conditional2"><webobject name = "ImageButton1" /></webobject>
        </td>
        <td rowspan = "2"><webobject name = "SubmitButton2" /></td>
      </tr>
      <tr>
        <td>
          <webobject name = "Conditional3"><webobject name = "ImageButton4" /></webobject>
        </td>
      </tr>
    </webobject>
  </table>
  <webobject name = "Conditional5">
    <br />
    <b>Fields not in field sets</b>
    <br />
    <br />
    <webobject name = "SWFEditFields3" />
  </webobject>
</webobject>
<webobject name = "Conditional4"><webobject name = "SWFEditFields2" /></webobject>
<p align = "RIGHT"><webobject name = "SubmitButton3" /></p>