<fieldset>
	<legend><webobject name="LOC_GENERAL_HEADING" /></legend>
	<label><webobject name = "LOC_PAGENAME" />: </label> <webobject name = "NameField" /><br />
	<label><webobject name = "String2" />: </label> <webobject name = "SymbolField" /><br />
	<label><webobject name = "String3" />: </label><webobject name = "NamePrefixField" /><br />
	<label><webobject name = "String4" />: </label><webobject name = "RedirectToField" /><br />
	<label><webobject name = "String5" />: </label><webobject name = "RedirectToField2" /><br />
</fieldset>
<fieldset>
	<legend><webobject name = "String33" /></legend>
	<label><webobject name = "String32" />: </label><webobject name = "PasswordField3" /><br />
	<label><webobject name = "String31" />: </label><webobject name = "SWDateField6" /><br />
	<label><webobject name = "String30" />: </label><webobject name = "SWDateField5" /><br />
	<label><webobject name = "String29" />: </label><webobject name = "PublishCheckbox3" /><br />
	<label><webobject name = "String7" />: </label><webobject name = "AccessibleCheckBox3" /><br />
</fieldset>

<fieldset>
	<legend>Leitarvélar</legend>
	<label><webobject name = "String16" />: </label><webobject name = "Text4" /><br />
	<label><webobject name = "String8" />: </label><webobject name = "Text3" /><br />
</fieldset>