<WEBOBJECT NAME="WRAPPER">
	<div align="center">
	<h3>Nýlega breyttar fréttir</h3>
			<table cellpadding="0" cellspacing="0">
				<tr>
					<th>Frétt</th>
					<th>Mappa</th>
					<th>Breytt af</th>
					<th>Breytingardags.</th>
				</tr>
		<webobject name="REPETITION">
				<tr>
					<td><webobject name="SELECT_LINK"><webobject name="NAME_STRING" /></webobject></td>
					<td><webobject name="FOLDER_STRING" /></td>
					<td><webobject name="USER_STRING" /></td>
					<td><webobject name="DATE_STRING" /></td> 
				</tr>
		</webobject>
		</table>
	</div>
</WEBOBJECT>