<WEBOBJECT NAME=SWAdminComponentWrapper1>Exporting <WEBOBJECT NAME=String2></WEBOBJECT> record(s)

<P>Fields to export:</P>

<WEBOBJECT NAME=Form1><TABLE CELLPADDING=2 BORDER=1 CELLSPACING=0>
<WEBOBJECT NAME=Conditional1><TR>
<TD><WEBOBJECT NAME=PopUpButton1></WEBOBJECT></TD>
<TD><WEBOBJECT NAME=SubmitButton1></WEBOBJECT></TD>
</TR>
</WEBOBJECT><WEBOBJECT NAME=Repetition1>
<TR>
<TD><WEBOBJECT NAME=String1></WEBOBJECT></TD>
<TD><WEBOBJECT NAME=SubmitButton2></WEBOBJECT></TD>
</TR></WEBOBJECT>
</TABLE>

</WEBOBJECT><p>
File encoding: <WEBOBJECT NAME=PopUpButton2></WEBOBJECT></p><WEBOBJECT NAME=Form2><WEBOBJECT NAME=SubmitButton3></WEBOBJECT></WEBOBJECT></WEBOBJECT>