<div class="menu">(<webobject name="String2" />)</div>

<div id="swobjectEdit">
	<label>Heiti:</label> <WEBOBJECT NAME="TextField1" /><br />
	<label>Texti ef nauðsynlegur reitur tómur:</label> <WEBOBJECT NAME="TextField4" /><br />
	<label>Skilaboð eftir skráningu:</label> <WEBOBJECT NAME="TextField3" /><br />
	<label>Hámarksfjöldi skráninga:</label> <WEBOBJECT NAME="MAX_REGISTRATOIONS_FIELD" /><br />
	<label>Senda tölvupóst frá:</label> <WEBOBJECT NAME="TextField6" /><br />
	<label>Senda tölvupóst með skráningu til:</label> <WEBOBJECT NAME="TextField5" /><br />
	<label>&nbsp;</label><webobject name="SubmitButton1" />
</div>