textarea, input, select {
	font-family: Tahoma, helvetica, sans-serif;
	font-size:11px;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}


.actions {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	border-top: solid 1px #aaaaaa;
	background-color: #808080;
	border-bottom: solid 1px #666666;
}

.actions TD {
	border-left: solid 1px #666666;
	border-right: solid 1px #999999;
	padding-left: 5px;
	padding-right: 5px;
}

.actions A {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

/* Definitions for the page and component transfer site tree */

.transfertree LI {
	margin-bottom: 0px;
}

.transfertree A {
	color: #666666;
}

.transfertree UL {
	list-style-type: none;
	padding: 0px 0px 2px 2px;
	margin: 0px 0px 4px 13px;
	border-left: 1px dotted #999999;
	border-bottom: 1px dotted #999999;
}

.transfertree TD {
	padding: 0px 0px 0px 0px;
}


/* Definitions for the asset selection tree */

.assetFolderTree LI {
	margin-bottom: 0px;
}

.assetFolderTree UL {
	list-style-type: none;
	margin: 0px 0px 4px 13px;
	padding: 0px 0px 2px 2px;
	border-left: 1px dotted #999999;
	border-bottom: 1px dotted #999999;
}

.assetFolderTree A {
	color: #666666;
}

.loginFieldTitle {
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.accessbutton {
	padding-bottom: 0px;
	border-style: inset;
	border-width: 1px;
}

.accesspopup {
	font-size: 9px;
}


/* Page editing */

.toolTable {
	width: 100%;
	background-color: #eeeeee;
}

.toolTable TD {
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

/* SWTabPanel */

.tab, .activeTab, .inactiveTab {
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

.activeTab {
	background-color: #99cc88;
}

.inactiveTab {
	background-color: #87a5e2;
}

.tabContentTable {
	border: 1px solid #666666;
	background-color: #dddddd;
}

.mainTabPanelTable TD {
	border: 0px;
}


/* Generic table */

.genericTable, .accessTable {
	border: 1px solid #666666;
	background-color: #efefef;
}

.genericTable TD, .accessTable TD {
	vertical-align: top;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}

.genericTable TH, .accessTable TH {
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	background-color: #dddddd;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}

.genericTable INPUT {
	border-width: 0px;
}

.folderToggle {
	width: 12px;
	float: left;
}
