<h2><webobject name="String1" /></h2>
<h3><webobject name="String2" /></h3>
<label><webobject name="String3" />: </label><webobject name="PopUpButton5" /><br />
<label><webobject name="String4" />: </label><webobject name="PopUpButton4" /><br />
<label><webobject name="String5" />: </label><webobject name="TextField4" /><br />
<label><webobject name="String6" />: </label><webobject name="TextField3" /><br />
<label><webobject name="String7" />: </label><webobject name="TextField5" /><br />
<label><webobject name="String8" />: </label><webobject name="TextField1" /><br />
<label><webobject name="String9" />: </label><webobject name="PopUpButton3" /><br />
<label><webobject name="String10" />: </label><webobject name="PopUpButton1" /><br />

<h2><webobject name="String11" /></h2>
<label>Sýna mynd: </label><webobject name="CheckBox1" /><br />
<label>Leyfa tjáskipti: </label><webobject name="ALLOW_COMMENTS" /><br />
<label><webobject name="String13" />: </label><webobject name="PopUpButton6" /><br />
<h2><webobject name="String14" /></h2>
<label><webobject name="String19" />: </label><webobject name="RadioButton3" /><br />
<label><webobject name="String20" />: </label><webobject name="RadioButton2" /><br />
<label> <webobject name="String21" /></label><webobject name="RadioButton1" /><br />

<h2>Hlekkir & texti</h2>
<label><webobject name="String15" />: </label><webobject name="DETAIL_PAGE_NAME_FIELD" /></label><br />
<label><webobject name="String16" />: </label><webobject name="DETAIL_PAGE_ID_FIELD" /><br />
<label><webobject name="String17" />: </label><webobject name="SHOW_MORE_TEXT_FIELD" /><br />
<label><webobject name="String18" />: </label><webobject name="GO_BACK_TEXT_FIELD" /><br />