<WEBOBJECT NAME=Conditional3><TABLE BORDER=1 WIDTH="100%"><TR><TD>Form eru ekki birt &iacute; kerfinu</TD></TR></TABLE></WEBOBJECT><WEBOBJECT NAME=Conditional2><WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=Form1><TABLE CELLPADDING=2 BORDER=0 CELLSPACING=0><TR><TD><B>Search</B></TD><TD>&nbsp;</TD></TR><WEBOBJECT NAME=Repetition4><TR><TD ALIGN=RIGHT><WEBOBJECT NAME=String6></WEBOBJECT></TD><TD><WEBOBJECT NAME=TextField1></WEBOBJECT></TD></TR></WEBOBJECT><TR><TD>&nbsp;</TD><TD ALIGN=RIGHT><WEBOBJECT NAME=SubmitButton1></WEBOBJECT></TD></TR></TABLE></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional5>
		<TABLE CELLSPACING=0 CLASS=genericTable CELLPADDING=2 BORDER=1>
			<TR>
				<TH>&nbsp;</TH>
				<TH>Date</TH>
				<TH>Number</TH>
				<WEBOBJECT NAME=Repetition3>
					<TH><WEBOBJECT NAME=String3></WEBOBJECT></TH>
				</WEBOBJECT>
				
			</TR>
			<WEBOBJECT NAME=Repetition2>
				<TR>
					<TD><WEBOBJECT NAME=String4></WEBOBJECT></TD>
					<TD><WEBOBJECT NAME=String2></WEBOBJECT></TD>
					<TD><WEBOBJECT NAME=String5></WEBOBJECT></TD>
					<WEBOBJECT NAME=Repetition1>
						<TD><WEBOBJECT NAME=Conditional6><WEBOBJECT NAME=String1></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional7><WEBOBJECT NAME=KeyValueConditional1>X</WEBOBJECT><WEBOBJECT NAME=KeyValueConditional2>X</WEBOBJECT></WEBOBJECT></TD>
					</WEBOBJECT>
					
				</TR>
			</WEBOBJECT>
		</TABLE>
	</WEBOBJECT></WEBOBJECT>