<webobject name="Conditional3">
	<p>Form eru ekki birt í kerfinu</p>
</webobject>

<webobject name="Conditional2">
	<webobject name="Conditional1">
		<webobject name="Form1">
			<table cellpadding="0" cellspacing = "0">
				<tr>
					<td><b>Search</b></td>
					<td>&nbsp;</td>
				</tr>
				<webobject name = "Repetition4">
					<tr>
						<td align = "RIGHT"><webobject name = "String6" /></td>
						<td><webobject name = "TextField1" /></td>
					</tr>
				</webobject>
				<tr>
					<td>&nbsp;</td>
					<td align="RIGHT"><webobject name="SubmitButton1" /></td>
				</tr>
			</table>
		</webobject>
	</webobject>
	<webobject name="Conditional5">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<th>&nbsp;</th>
				<!-- 
				<th>Skráningardagur</th>
				<th>Númer</th>
				 -->
				<webobject name="Repetition3">
					<th><webobject name="String3" /></th>
				</webobject>
			</tr>
			<webobject name="Repetition2">
				<tr>
					<td><webobject name="String4" /></td>
					<!--
					<td><webobject name="String2" /></td>
					<td><webobject name="String5" /></td>
					-->
					<webobject name="Repetition1">
						<td>
							<webobject name="Conditional6"><webobject name = "String1" /></webobject>
							<webobject name="Conditional7">
								<webobject name="KeyValueConditional1">X</webobject>
								<webobject name="KeyValueConditional2">X</webobject>
							</webobject>
						</td>
					</webobject>
				</tr>
			</webobject>
		</table>
	</webobject>
</webobject>