<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="is" lang="is">
	<head>
		<webobject name="HAS_DESCRIPTION_CONDITIONAL"><webobject name="META_DESCRIPTION" /></webobject>
		<webobject name="HAS_KEYWORDS_CONDITIONAL"><webobject name="META_KEYWORDS" /></webobject>
		<title><webobject name="PAGE_NAME" /></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div id="header">
			<webobject name="FRONT_PAGE_LINK"><webobject name="SITE_NAME" /></webobject>
		</div>
		<div id="content">
			<webobject name="CONTENT" />
		</div>
		<div id="navigation">
			<webobject name="NAVIGATION" />
		</div>
		<div id="footer">
			<a href="http://code.us.is/soloweb"><webobject name="VERSION_STRING" /></a>
		</div>
	</body>
</html>