<wo:SWAdminComponentWrapper>
	<webobject name="FORM">
		<webobject name = "SubmitButton2" />
		<table cellspacing="0" cellpadding="0">
			<webobject name="FIELD_REPETITION">
				<webobject name="Conditional13">
					<tr>
						<td colspan = "2"><webobject name = "String4" /></td>
					</tr>
				</webobject>
				<tr>
					<td align="right" valign="top">
						<webobject name = "Conditional2">
							<webobject name = "Conditional1">
								<font color = "#ff0000">*</font>
							</webobject>
							<webobject name = "String1" />:
							<p><webobject name = "String11" /></p>
						</webobject>
					</td>
					<td>
						<webobject name="CAN_NOT_EDIT_VALUE"><webobject name="VALUE_STRING" /></webobject>
						<webobject name="CAN_EDIT_VALUE"><webobject name="VALUE_EDIT" /></webobject>
					</td>
				</tr>
			</webobject>
		</table>
	</webobject>
</wo:SWAdminComponentWrapper>