<div class="swmenu">
	<webobject name="EDIT_LINK">Breyta skjali</webobject>
	<webobject name="PREVIEW_LINK">Sækja skjal</webobject>
	<span class="swmenuTitle"><webobject name="DOC_NAME_STRING" /> (<webobject name="DOC_ID_STRING" />)</span>
</div>	
<div id="swobjectEdit">
	<webobject name="FORM">
		<label><webobject name="TYPE_LABEL" />: </label><webobject name="TYPE_POPUP" /><br />
		<label><webobject name="NAME_LABEL" />: </label><webobject name="NAME_FIELD" /><br />
		<label><webobject name="URL_LABEL" />: </label><webobject name="URL_FIELD" /><br />
		<label><webobject name="FILE_LABEL" />: </label><webobject name="FILE_UPLOAD" /><br />
		<label>&nbsp;</label><webobject name="SUBMIT_BUTTON" />
	</webobject>
</div>