<webobject name="WRAPPER">
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr>
      <td>
        <webobject name="ResetHitCount2">
          <webobject name="String3" />
        </webobject>
        <br />
      </td>
      <td align="RIGHT" valign="TOP">
        <font size="4">
          <webobject name="String4" />
        </font>
      </td>
    </tr>
    <tr>
      <td>
        <webobject name="String1" />
        &quot;
        <b>
          <webobject name="ResetHitCount" />
        </b>
        &quot;
        <webobject name="String2" />
        <br />
        <webobject name="FORM">
          <webobject name="COPY_CHECKBOX" />
          <webobject name="String5" />
        </webobject>
        <table cellpadding="5" cellspacing="0" width="250" border="1">
          <tr>
            <td>
              <span class="transfertree">
                <webobject name="SWSiteListing1" />
              </span>
            </td>
          </tr>
        </table>
      </td>
      <td />
    </tr>
  </table>
</webobject>