{
    attributes = (
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = BLOB; 
            name = blob; 
            valueClassName = NSData; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = INTEGER; 
            name = int; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {columnName = ""; name = pk; }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = VARCHAR; 
            name = "string_1000"; 
            valueClassName = NSString; 
            width = 1000000; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = VARCHAR; 
            name = "string_1000000"; 
            valueClassName = NSString; 
            width = 1000000; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = TIMESTAMP; 
            name = time; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }
    ); 
    attributesUsedForLocking = (blob, int, pk, "string_1000", time); 
    className = EOGenericRecord; 
    classProperties = (blob, int, "string_1000", "string_1000000", time); 
    externalName = "EO_PROTOTYPES"; 
    fetchSpecificationDictionary = {}; 
    isAbstractEntity = Y; 
    name = EOFrontBasePrototypes; 
    primaryKeyAttributes = (pk); 
}
