<p><webobject name = "SubmitButton1" /></p>
<webobject name = "Conditional1">
  <table class = "genericTable" cellspacing = "0" cellpadding = "2" border = "0">
    <tr>
      <th>User/group</th>
      <th>Field</th>
      <th>Contains</th>
      <th>&nbsp;</th>
    </tr>
    <webobject name = "Repetition1">
      <tr>
        <td><webobject name = "PopUpButton1" /></td>
        <td><webobject name = "PopUpButton2" /></td>
        <td><webobject name = "TextField1" /></td>
        <td><webobject name = "SubmitButton3" /></td>
      </tr>
    </webobject>
    <tr>
      <td align = "RIGHT" colspan = "4"><webobject name = "SubmitButton2" /></td>
    </tr>
  </table>
</webobject>