<wo:SWAdminComponentWrapper>
	<div id="swobjectedit">
		<wo:form>
			<webobject name="TAB_PANEL">
				<webobject name="REPETITION">
					<webobject name="TAB_PANEL_SELECTION">
						<webobject name="EDIT_COMPONENT" />
					</webobject>
				</webobject>
			</webobject>
			<fieldset>
				<legend>Stillingar birtingar</legend>
				<label>Númer: </label><webobject name="ID_STRING" /><br />
				<label>Wiki: </label><webobject name="WIKI_CHECKOX" /><br />
				<label><webobject name="String2" />: </label><webobject name="PUBLISHED_CHECKOX" /><br />
				<label><webobject name="String3" />: </label><webobject name="FROM_DATE_FIELD" /><br />
				<label><webobject name="String4" />: </label><webobject name="TO_DATE_FIELD" /><br />
			</fieldset>
			
			<webobject name="SUBMIT_BUTTON" />
		</wo:form>
	</div>
</wo:SWAdminComponentWrapper>