<fieldset>
	<legend>Vefur</legend>
	<label><webobject name = "String1" />: </label><webobject name = "NAME_FIELD" /><br />
	<label><webobject name = "String2" />: </label><webobject name = "LOOK_FIELD" /><br />
	<label><webobject name = "String3" />: </label><webobject name = "LANG_FIELD" /><br />
	<label><webobject name = "String4" />: </label><webobject name = "FIELD_404" /><br />
	<label>Locale </label><webobject name = "LOCALE_POPUP" /><br />
	<label><webobject name = "String5" />: </label><webobject name = "QUAL_FIELD" /><br />
	<webobject name = "SubmitButton2" />
</fieldset>