<wo:SWAdminComponentWrapper>
	<h3><wo:str value="$session.@ls.tdfHeader" /></h3>
	<p><wo:hyperlink action="$cancel" class="swcancelButton"><wo:str value="$session.@ls.tdfCancel" /></wo:hyperlink></p>

	<p><wo:str value="$session.@ls.tdfPart1" /> &quot;<b><wo:str value="$record.name" /></b>&quot; <wo:str value="$session.@ls.tdfPart2" /></p>
	
	<wo:conditional condition="$isFolder"><webobject name = "SWFolderList1" /></wo:conditional>
	<wo:conditional condition="$isFolder" negate="$true"><webobject name = "SWFolderList2" /></wo:conditional>
</wo:SWAdminComponentWrapper>