<wo:condition condition="$displayDetail" negate="$true">
	<wo:repetition list="$newslist" item="$currentNewsItem">
		<div class="sw_newsitem">
			<h4 class="sw_newsdate"><wo:str value="$currentNewsItem.date" formatter="$timestampFormatter" /></h4>
			<h3 class="sw_newsheading"><wo:str value="$currentNewsItem.name" /></h3>
			<wo:condition condition="$currentComponent.customInfo.showPicture">
				<wo:SWImage document="$currentNewsItem.document" align="$currentComponent.customInfo.imageAlignment" />
			</wo:condition>
			<wo:condition condition="$displayExcerpt">
				<div class="sw_newsitem_text">
					<wo:str value="$currentNewsItem.excerptWithBreaks" escapeHTML="$false" />
				</div>
				<wo:link href="$moreURL" class="sw_newsitem_more_link"><wo:str value="$@ls.defaultNewsShowMoreString" /></wo:link>
			</wo:condition>
			<wo:condition condition="$displayText">
				<div class="sw_newsitem_text">
					<wo:str value="$currentNewsItem.textRendered" escapeHTML="$false" />
				</div>
			</wo:condition>
			<wo:condition condition="$displayLinkOnly">
				<wo:link href="$moreURL" class="sw_newsitem_more_link"><wo:str value="$@ls.defaultNewsShowMoreString" /></wo:link>
			</wo:condition>
			<wo:condition condition="$currentComponent.customInfo.allowComments">
				<div class="talkblock">
					<wo:link href="$moreURL" class="sw_newsitem_more_link">
						<wo:SWCommentInfo selectedNewsItem="$currentNewsItem" />
					</wo:link>
				</div>
			</wo:condition>
		</div>
	</wo:repetition>
</wo:condition>
<wo:condition condition="$displayDetail"><wo:SWNewsDetail selectedNewsItem="$selectedNewsItem" currentComponent="$currentComponent" /></wo:condition>