<webobject name="DISPLAY_DETAIL_CONDITIONAL">
	<webobject name="REPETITION">
		<div class="sw_newsitem">
			<h4 class="sw_newsdate"><webobject name="DATE_STRING" /></h4>
			<h3 class="sw_newsheading"><webobject name="MORE_LINK"><webobject name="NAME_STRING" /></webobject></h3>
			<webobject name="SHOW_IMAGE_CONDITIONAL">
				<webobject name="IMAGE" />
			</webobject>
			<webobject name="DISPLAY_EXCERPT_CONDITIONAL">
				<div class="sw_newsitem_text">
					<webobject name="EXCERPT_WITH_BREAKS_STRING" />
				</div>
				<webobject name="MORE_LINK"><webobject name="SHOW_MORE_LINK_TEXT" /></webobject>
			</webobject>
			<webobject name="DISPLAY_TEXT_CONDITIONAL">
				<div class="sw_newsitem_text">
					<webobject name="TEXT_STRING" />
				</div>
			</webobject>
			<webobject name="DISPLAY_LINK_ONLY_CONDITIONAL">
				<webobject name="MORE_LINK"><webobject name="SHOW_MORE_LINK_TEXT" /></webobject>
			</webobject>
			<webobject name="ALLOW_COMMENTS_CONDITIONAL">
				<div class="talkblock">
					<webobject name="MORE_LINK">
						<webobject name="COMMENT_INFO" />
					</webobject>
				</div>
			</webobject>
		</div>
	</webobject>
</webobject>
<webobject name="HAS_DETAIL_ITEM_CONDITIONAL"><webobject name="DETAIL_COMPONENT" /></webobject>