<fieldset>
	<legend>Miðlari</legend>
	<label><webobject name="String9" />:</label> <webobject name="String3" />MB<br />
	<label><webobject name="String10" />:</label> <webobject name="String4" />MB<br />
</fieldset>
<fieldset>
	<legend>Tími</legend>
	<label><webobject name="String13" />:</label> <webobject name="String2" /><br />
	<label><webobject name="String11" />:</label> <webobject name="String5" /><br />
</fieldset>
<fieldset>
	<legend>Umferð</legend>
	<label><webobject name="PAGES_SERVED_LABEL" />:</label> <webobject name="String1" /><br />
	<label><webobject name="HITS_FROM_STARTUP_LABEL" />:</label> <webobject name="HITS_FROM_STARTUP_VALUE" /><br />
	<label>Gagnamagn:</label> <webobject name="BYTES_FROM_STARTUP_VALUE" /><br />
</fieldset>

<fieldset>
	<legend>Innskráðir notendur</legend>
	<webobject name="Conditional1">	
  <table cellpadding="0" cellspacing="0">
    <tr>
      <th>Notandi</th>
      <th>Skráði sig inn</th>
    </tr>
    <webobject name="Repetition1">
      <tr>
        <td><webobject name="String7" /></td>
        <td><webobject name="String8" /></td>
      </tr>
    </webobject>
  </table>
  
</webobject>
<webobject name="Conditional2"><p>Engir tengdir notendur.</p></webobject>
</fieldset>
