<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title><wo:str value="$detailPageName" /></title>
    <link><wo:str value="$mainLink" /></link>
    <description></description>
    <wo:repetition item="$currentItem" list="$items">
      <item>
        <title><wo:str value="$currentItem.name" /></title>
        <link><wo:str value="$urlString" /></link>
        <description><wo:str value="$currentItem.excerpt" escapeHTML = "$true" /></description>
        <pubDate><wo:str value="$currentItem.date" /></pubDate>
      </item>
    </wo:repetition>
  </channel>
</rss>