<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>Hugi</title>
    <description>Með hálfum Huga</description>
    <webobject name="REPETITION">
      <item>
        <title><webobject name="NAME_STRING" /></title>
        <link><webobject name="URL_STRING" /></link>
        <description><webobject name="TEXT_STRING" /></description>
        <author>Hugi Þórðarson</author>
        <pubDate><wo:str value="$currentNewsItem.date" /></pubDate>
      </item>
    </webobject>
  </channel>
</rss>