<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <webobject name="TITLE_TAG">Hugi</webobject>
    <webobject name="DESCRIPTION_TAG">Með hálfum Huga</webobject>
    <webobject name="REPETITION">
      <webobject name="ITEM_ELEMENT">
        <webobject name="TITLE_ELEMENT"><webobject name="NAME_STRING" /></webobject>
        <webobject name="LINK_ELEMENT"><webobject name="URL_STRING" /></webobject>
        <webobject name="DESC_ELEMENT"><webobject name="TEXT_STRING" /></webobject>
        <webobject name="AUTHOR_ELEMENT">Hugi</webobject>
      </webobject>
    </webobject>
  </channel>
</rss>