<fieldset>
	<legend>Miðlari</legend>
	<label><webobject name="LS_TOTAL_MEMORY" />:</label> <webobject name="TOTAL_MEMORY" />MiB<br />
	<label><webobject name="LS_FREE_MEMORY" />:</label> <webobject name="FREE_MEMORY" />MiB<br />
</fieldset>
<fieldset>
	<legend>Tími</legend>
	<label><webobject name="LS_NOW" />:</label> <webobject name="NOW_STRING" /><br />
	<label><webobject name="LS_APPLICATION_STARTED" />:</label> <webobject name="APPLICATION_STARTED" /><br />
</fieldset>
<fieldset>
	<legend>Umferð</legend>
	<label><webobject name="LS_PAGES_SERVED" />:</label> <webobject name="PAGE_SERVED" /><br />
	<label><webobject name="LS_HITS_SERVED" />:</label> <webobject name="HITS_SERVED" /><br />
	<label><webobject name="LS_BYTES_SERVED" />:</label> <webobject name="BYTES_SERVED" /><br />
</fieldset>

<fieldset>
	<legend>Innskráðir notendur</legend>
	<webobject name="HAS_SESSIONS_CONDITIONAL">	
		<table cellpadding="0" cellspacing="0">
			<tr>
				<th>Notandi</th>
				<th>Skráði sig inn</th>
			</tr>
			<webobject name="SESSION_REPETITION">
			<tr>
				<td><webobject name="SESSION_USER" /></td>
				<td><webobject name="SESSION_STARTTIME" /></td>
			</tr>
			</webobject>
		</table>  
	</webobject>
	<webobject name="Conditional2"><p>Engir tengdir notendur.</p></webobject>
</fieldset>