<webobject name="SHOW_SITE_POPUP_CONDITIONAL"><webobject name="FORM"><webobject name="SITE_POPUP" /></webobject></webobject><webobject name="SELECT_SITE_LINK">[skoða]</webobject>

<webobject name="SITE_SELECTED_CONDITIONAL">
	<webobject name="LIST_CONTAINER">
		<webobject name="NESTED_LIST">
			<webobject name="TOGGLE_LINK"><webobject name="TOGGLE_IMAGE" /></webobject> <webobject name="SELECT_PAGE_LINK"><webobject name="PAGE_NAME_STRING" /></webobject>
		</webobject>
	</webobject>
</webobject>