<fieldset>
	<legend>Search</legend>
	<webobject name="HAS_NO_SEARCH_ARGUMENTS">
		<webobject name = "SHOW_ALL_RECORDS_BUTTON" />
	</webobject>
	<webobject name = "Conditional9">
  		<webobject name = "ADD_SEARCH_ARGUMENT_BUTTON" />
	</webobject>
	<webobject name = "Conditional19">
	  <table>
	    <tr>
	      <th>Field</th>
	      <th>Value</th>
	      <th>&nbsp;</th>
	    </tr>
	    <webobject name = "Repetition4">
	      <tr>
	        <td align = "RIGHT" valign = "TOP">
	          <webobject name = "Conditional1"><webobject name = "PopUpButton1" /></webobject>
	          <webobject name = "Conditional2">
	            <b><webobject name = "String6" /></b>
	          </webobject>
	        </td>
	        <td valign = "TOP">
	          <webobject name = "Conditional15"><webobject name = "TextField3" /></webobject>
	          <webobject name = "Conditional3">
	            <webobject name = "Conditional10"><webobject name = "TextField1" /></webobject>
	            <webobject name = "Conditional11"><webobject name = "TextField2" /></webobject>
	            <webobject name = "Conditional12"><webobject name = "SWFCheckbox1" /></webobject>
	            <webobject name = "Conditional13"><webobject name = "RadioButtonList1" /></webobject>
	            <webobject name = "Conditional14"><webobject name = "PopUpButton2" /></webobject>
	          </webobject>
	          <webobject name = "Conditional4"><webobject name = "String7" /></webobject>
	        </td>
	        <td>
	          <webobject name = "Conditional8"><webobject name = "SubmitButton3" /></webobject>
	        </td>
	      </tr>
	    </webobject>
	    <tr>
	      <td align = "RIGHT" colspan = "3"><webobject name = "SubmitButton1" /></td>
	    </tr>
	  </table>
	</webobject>
</fieldset>

<p><webobject name = "SubmitButton6" /></p>
<webobject name = "Conditional5">
  <table cellspacing = "0" cellpadding = "2" class = "genericTable" border = "1">
    <tr>
      <th>&nbsp;</th>
      <th><webobject name = "Hyperlink3">Date</webobject></th>
      <th><webobject name = "Hyperlink4">Number</webobject></th>
      <webobject name = "Repetition3">
        <th><webobject name = "Hyperlink5"><webobject name = "String3" /></webobject></th>
      </webobject>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <webobject name = "Conditional17">
        <th>&nbsp;</th>
      </webobject>
    </tr>
    <webobject name = "Repetition2">
      <tr>
        <td><webobject name = "String4" /></td>
        <td><webobject name = "String2" /></td>
        <td><webobject name = "String5" /></td>
        <webobject name = "Repetition1">
          <td>
            <webobject name = "Conditional22">
              <webobject name = "Conditional6"><webobject name = "String1" /></webobject>
              <webobject name = "Conditional7">
                <webobject name = "KeyValueConditional1">X</webobject>
              </webobject>
            </webobject>
            <webobject name = "Conditional18">
              <webobject name = "Conditional21">
                <webobject name = "Hyperlink7">
                  <webobject name = "String9" /> (<webobject name = "String8" />KiB)</webobject>
              </webobject>
            </webobject>
          </td>
        </webobject>
        <td>
          <webobject name = "Hyperlink2">Print</webobject>
        </td>
        <td>
          <webobject name = "Hyperlink6">Edit</webobject>
        </td>
        <webobject name = "Conditional16">
          <td><webobject name = "SubmitButton4" /></td>
        </webobject>
      </tr>
    </webobject>
  </table>
  <br />
  <webobject name = "Hyperlink1">Export these records</webobject>
</webobject>