<div id="swmainMenu" class="swmenu">
	<webobject name="EDIT_PAGE_LINK"><webobject name="EDIT_PAGE_STRING" /></webobject>
	<webobject name="NEWS_LINK"><webobject name="NEWS_STRING" /></webobject>
	<webobject name="DOCUMENTS_LINK"><webobject name="DOCUMENTS_STRING" /></webobject>
	<webobject name="TRANSACTIONS_LINK">Hreyfingar</webobject>
	<webobject name="MY_SETTINGS_LINK"><webobject name="MY_SETTINGS_STRING" /></webobject>
	<webobject name="ADMIN_CONDITIONAL">
		<webobject name="USERS_AND_GROUPS_LINK"><webobject name="USERS_AND_GROUPS_STRING" /></webobject>
		<webobject name="SYSTEM_LINK">Kerfisstillingar</webobject>
	</webobject>
	
	<webobject name="PLUGIN_REPETITION">
		<webobject name="PLUGIN_LINK">
			<webobject name="PLUGIN_NAME" />
		</webobject>
	</webobject>
	
	<webobject name="LOGOUT_LINK"><webobject name="LOGOUT_STRING" /></webobject>

	<span class="swmenuTitle">SoloWeb <webobject name="VERSION_STRING" /></span>
<!-- 
	<webobject name="SEARCH_FORM">
		<webobject name="SEARCH_FIELD" />
	</webobject>
-->
</div>