<webobject name = "FORM">
	<fieldset>
		<legend>Kerfisstjóri</legend>
		<label><webobject name="String6" />: </label><webobject name="TextField16" /><br />
		<label><webobject name="String7" />: </label><webobject name="TextField15" /><br />
		<label><webobject name="String9" />: </label><webobject name="TextField13" /><br />	
	</fieldset>
	<fieldset>
		<legend>Vistun gagna</legend>
		<label><webobject name="DOCUMENT_LOCATION_ON_DISK_STRING" />: </label><webobject name="DOCUMENT_LOCATION_ON_DISK_FIELD" /><br />
		<label><webobject name="String13" />: </label><webobject name="TextField8" /><br />
	</fieldset>
	<fieldset>
		<legend>Sérstakar síður</legend>
		<label><webobject name="String11" />: </label><webobject name="TextField3" /><br />
		<label><webobject name="String18" />: </label><webobject name="TextField7" /><br />
	</fieldset>
	<fieldset>
		<legend>Ýmislegt</legend>
		<label><webobject name="String8" />: </label><webobject name="TextField14" /><br />
		<label><webobject name="String10" />: </label><webobject name="TextField1" /><br />
	</fieldset>
	
	<label>&nbsp;</label><webobject name="SubmitButton4" />
</webobject>