<wo:form>
	<fieldset>
		<legend>Kerfisstjóri</legend>
		<label><wo:str value="$session.@ls.gsAdminUsername" />: </label><wo:textfield value="$settings.defaultUsername" size="40" /><br />
		<label><wo:str value="$session.@ls.gsAdminPassword" />: </label><wo:password value="$settings.defaultPassword" size="40" /><br />
		<label><wo:str value="$session.@ls.gsEmailAddress" />: </label><wo:textfield value="$settings.webmasterEmail" size="40" /><br />	
	</fieldset>
	<fieldset>
		<legend>Vistun gagna</legend>
		<label><webobject name="DOCUMENT_LOCATION_ON_DISK_STRING" />: </label><webobject name="DOCUMENT_LOCATION_ON_DISK_FIELD" /><br />
		<label><webobject name="String13" />: </label><webobject name="INDEX_LOCATION_ON_DISK_FIELD" /><br />
	</fieldset>
	<fieldset>
		<legend>Sérstakar síður</legend>
		<label><webobject name="String11" />: </label><webobject name="TextField3" /><br />
	</fieldset>
	<fieldset>
		<legend>Ýmislegt</legend>
		<label><webobject name="String8" />: </label><webobject name="TextField14" /><br />
		<label><webobject name="String10" />: </label><webobject name="TextField1" /><br />
		<label>Hreinsa HTML á vefsíðum: </label> <wo:checkBox checked="$settings.useTidy" /><br />
		<label>Þjappa textaefni: </label> <wo:checkBox checked="$settings.useGzip" /><br />
	</fieldset>
	
	<label>&nbsp;</label><webobject name="SubmitButton4" />
</wo:form>