<webobject name = "FORM">
	<h1><webobject name = "String2" /></h1>
	
	<webobject name = "SWTabPanel1">
	  <webobject name = "KeyValueConditional1">
	    <table cellspacing = "4" align = "CENTER" cellpadding = "4" border = "0">
	      <tr>
	        <td align = "RIGHT"><webobject name = "String3" />:</td>
	        <td>
	          <webobject name = "PopUpButton1" />
	          <webobject name = "SubmitButton2" />
	        </td>
	      </tr>
	      <tr>
	        <td valign = "TOP" colspan = "2">
	          <webobject name = "Conditional1"><webobject name = "SWDictionaryEditor1" /></webobject>
	        </td>
	      </tr>
	      <tr>
	        <td>&nbsp;</td>
	        <td align = "RIGHT"><webobject name = "SubmitButton1" /></td>
	      </tr>
	    </table>
	  </webobject>
	  <webobject name = "KeyValueConditional2">
	    <table cellspacing = "4" align = "CENTER" cellpadding = "4" border = "0">
	      <tr>
	        <td valign = "TOP" colspan = "2">
	          <br />
	          <b><webobject name = "String4" /></b>
	          <br />
	          <br />
	          <webobject name = "String5" />
	          <br />
	          <br />
	          <webobject name = "GenerateDBButton4" />
	          <br />
	          <br />
	          <hr />
	          <b><webobject name = "String6" /></b>
	          <br />
	          <br />
	          <webobject name = "String7" />:<br />
	          <table cellspacing = "0" cellpadding = "2" class = "genericTable" border = "0">
	            <tr>
	              <th width = "50%"><webobject name = "String8" /></th>
	              <th><webobject name = "String10" /></th>
	              <th><webobject name = "String9" /></th>
	            </tr>
	            <webobject name = "Repetition2">
	              <tr>
	                <td>
	                  <webobject name = "String1" />
	                  <webobject name = "String11" />
	                </td>
	                <td><webobject name = "CheckBox3" /></td>
	                <td><webobject name = "CheckBox4" /></td>
	              </tr>
	            </webobject>
	            <webobject name = "Repetition1" />
	          </table>
	          <br />
	          <webobject name = "GenerateDBButton3" />
	        </td>
	      </tr>
	    </table>
	  </webobject>
	</webobject>
</webobject>