<webobject name="DISPLAY_DETAIL_CONDITIONAL">
	<webobject name="MONTH_REPETITION">
		<h3><webobject name="MONTH_STRING" /></h3>
		<ul style="list-style-type: none">
		<webobject name="NEWS_REPETITION">
			<li><webobject name="LINK"><webobject name="NAME_STRING" /></webobject> <em style="color:gray">(<webobject name="DATE_STRING" />)</em><webobject name="ALLOW_COMMENTS_CONDITIONAL"> - <webobject name="COMMENT_COUNT" /> tjáskipti</webobject></li>
		</webobject>
		</ul>
	</webobject>
</webobject>
<webobject name="HAS_DETAIL_ITEM_CONDITIONAL"><webobject name="DETAIL_COMPONENT" /></webobject>