<p><webobject name = "SubmitButton3" /></p>
<webobject name = "Conditional1">
  <table border = "1" cellpadding = "2" cellspacing = "0" class = "genericTable" width = "100%">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Required</th>
      <th>Hidden</th>
      <th>In list</th>
      <th>&nbsp;</th>
      <th>Move</th>
      <th>&nbsp;</th>
    </tr>
    <webobject name = "Repetition2">
      <tr>
        <td rowspan = "2"><webobject name = "TextField2" /></td>
        <td rowspan = "2"><webobject name = "PopUpButton1" /></td>
        <td rowspan = "2"><webobject name = "CheckBox2" /></td>
        <td rowspan = "2"><webobject name = "CheckBox1" /></td>
        <td rowspan = "2"><webobject name = "CheckBox4" /></td>
        <td rowspan = "2"><webobject name = "SubmitButton2" /></td>
        <td>
          <webobject name = "Conditional2"><webobject name = "UP_BUTTON" /></webobject>
        </td>
        <td rowspan = "2"><webobject name = "SubmitButton4" /></td>
      </tr>
      <tr>
        <td>
          <webobject name = "Conditional3"><webobject name = "DOWN_BUTTON" /></webobject>
        </td>
      </tr>
    </webobject>
  </table>
</webobject>