<webobject name = "SWAdminComponentWrapper1">
  <p>
    <b>Properties</b>
  </p>
  <webobject name = "Form1">
    <webobject name = "Conditional1">
      <table cellspacing = "0" border = "1" cellpadding = "2">
        <tr>
          <td align = "RIGHT">Default value:</td>
          <td><webobject name = "TextField1" /></td>
        </tr>
        <tr>
          <td align = "RIGHT">Size:</td>
          <td><webobject name = "TextField2" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Text above field:</td>
          <td><webobject name = "Text3" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Explanatory text:</td>
          <td><webobject name = "Text7" /></td>
        </tr>
      </table>
    </webobject>
    <webobject name = "Conditional2">
      <table cellspacing = "0" border = "1" cellpadding = "2">
        <tr>
          <td align = "RIGHT">Default value:</td>
          <td><webobject name = "TextField4" /></td>
        </tr>
        <tr>
          <td align = "RIGHT">Columns:</td>
          <td><webobject name = "TextField3" /></td>
        </tr>
        <tr>
          <td align = "RIGHT">Rows:</td>
          <td><webobject name = "TextField6" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Text above field:</td>
          <td><webobject name = "Text4" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Explanatory text:</td>
          <td><webobject name = "Text8" /></td>
        </tr>
      </table>
    </webobject>
    <webobject name = "Conditional3">
      <table cellspacing = "0" border = "1" cellpadding = "2">
        <tr>
          <td align = "RIGHT">Checked:</td>
          <td><webobject name = "SWFCheckbox1" /></td>
        </tr>
      </table>
    </webobject>
    <webobject name = "Conditional6">
      <table cellspacing = "0" border = "1" cellpadding = "2">
        <tr>
          <td align = "RIGHT" valign = "TOP">Default value:</td>
          <td><webobject name = "Text14" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Values:</td>
          <td><webobject name = "Text13" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Text above field:</td>
          <td><webobject name = "Text12" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Explanatory text:</td>
          <td><webobject name = "Text11" /></td>
        </tr>
      </table>
    </webobject>
    <webobject name = "Conditional4">
      <table cellspacing = "0" border = "1" cellpadding = "2">
        <tr>
          <td align = "RIGHT">Default value:</td>
          <td><webobject name = "TextField7" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Values:</td>
          <td><webobject name = "Text1" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Text above field:</td>
          <td><webobject name = "Text5" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Explanatory text:</td>
          <td><webobject name = "Text9" /></td>
        </tr>
      </table>
    </webobject>
    <webobject name = "Conditional5">
      <table cellspacing = "0" border = "1" cellpadding = "2">
        <tr>
          <td align = "RIGHT">No selection string:</td>
          <td><webobject name = "TextField8" /></td>
        </tr>
        <tr>
          <td align = "RIGHT">Default value:</td>
          <td><webobject name = "TextField9" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Values:</td>
          <td><webobject name = "Text2" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Text above field:</td>
          <td><webobject name = "Text6" /></td>
        </tr>
        <tr>
          <td align = "RIGHT" valign = "TOP">Explanatory text:</td>
          <td><webobject name = "Text10" /></td>
        </tr>
      </table>
    </webobject>
    <br />
    <webobject name = "SubmitButton1" />
  </webobject>
  <p>
    <b>Access privileges</b>
  </p>
  <webobject name = "Form2"><webobject name = "SWAssignPrivileges21" /></webobject>
</webobject>