<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="IS">
<head>
	<WEBOBJECT NAME=GenericElement1></WEBOBJECT><WEBOBJECT NAME=GenericElement2></WEBOBJECT>
	<link href="http://www.vefsyn.is/soloweblooks/4/css/print.css" rel="stylesheet" type="text/css" media="print" />
	<link href="http://www.vefsyn.is/soloweblooks/4/css/screen.css" rel="stylesheet" type="text/css" media="screen" />

	<title><WEBOBJECT NAME=String1></WEBOBJECT></title>
</head>
<body>
<div id="content">
	<WEBOBJECT NAME=ComponentContent1></WEBOBJECT><div id="footer">
	<div class="hidden"><hr /></div>
		<WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=String3></WEBOBJECT></WEBOBJECT>
	</div>
</div>
<div id="leftnavigation">
	<WEBOBJECT NAME=SWNavigation1></WEBOBJECT>
</div>
<div id="breadcrumbs"><WEBOBJECT NAME=Repetition2><WEBOBJECT NAME=Conditional2>&nbsp;/ </WEBOBJECT><WEBOBJECT NAME=Hyperlink3><WEBOBJECT NAME=String5></WEBOBJECT></WEBOBJECT></WEBOBJECT></div>
<div id="header">
	<div id="headertitle"><WEBOBJECT NAME=Hyperlink2><WEBOBJECT NAME=String4></WEBOBJECT></WEBOBJECT></div>
	<div id="headerimg"><img src="http://www.vefsyn.is/soloweblooks/4/images/header.picture.png" alt="Graphic" /></div>
</div>
<div id="headerbg"></div>
</body>
</html>